@mixin center-children {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-family: Courier, monospace;
}

p {
  text-align: center;
  font-family: Courier, monospace;
}

.todo-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 10px;
  padding: 10px;
  background-color: #cabebe;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);

  width: 50%;
}

.todo-container {
  margin-top: 10px;
  flex-direction: column;
  @include center-children
}

.input-box {
  font-family: Courier, monospace;
  display: block;
  margin: 0 auto;
  padding: 10px;
  width: 80%;
  max-width: 400px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.my-buttons {
  padding: 8px 16px;
  margin: 10px;
  border-radius: 3px;
}

.delete-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
}

.loader-add {
  justify-self: end;
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}